/Trees/desktop.ini
/desktop.ini
.idea
/Trees/src/donor_prog/desktop.ini
/Trees/src/nodes/desktop.ini
/Trees/src/trees/desktop.ini
/Trees/test/trees/desktop.ini
/Trees/test/nodes/desktop.ini
/Trees/src/donor_prog/donor_files/desktop.ini
